<ion-header>
  <ion-toolbar>
    <ion-title>
      Staaten
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="countryName" placeholder="Geben Sie Name des Landes ein"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="searchCountry()">Anzeigen</ion-button>

  <ion-card-header>
    <h3>
      {{countryNameShow}}
    </h3>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>{{countryCapitalCity}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{countryPopulation}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{countryArea}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{countryCont}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{countryGeoLoc}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>

</ion-content>
