<ion-header>
  <ion-toolbar>
    <ion-title>
      Länder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="countryName" placeholder="Geben Sie Name des Landes ein"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="searchCountry()">Anzeigen</ion-button>

  <ion-card-header *ngFor="let country of countryData">
    <h3>
      {{countryData}}
    </h3>
  </ion-card-header>
  <ion-card-content>
    <p>
      <!-- Population: {{country.population}} 
      Location: {{country.latlng}} -->
    </p>
  </ion-card-content>

</ion-content>
